@model MarketPlaces.ViewModels.MarketsViewModel
@{
    ViewBag.Title = "Home Page";
}
<h2>Upcoming Markets</h2>

<ul class="markets voffset4">
    @foreach (var market in Model.UpcomingMarkets)
    {
        <li>
            <div class="date">
                <div class="month">
                    @market.DateTime.ToString(("MMM"))
                </div>
                <div class="day">
                    @market.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="title">
                    @market.Title  <button data-market-id="@market.Id " class="btn btn-default btn-sm pull-right js-toggle-attendance">Going ?</button>
                </span>
            @*</div>
                <div>*@   <span class="venue">
                    @*<span class="newTitles">Venue:</span>*@    @market.Venue
                </span>
            </div>
                <div class+="extra details">
                    <span class="category">
                        <span class="newTitles">Theme</span>  @market.Category.Name
                    </span>
                </div>
                    <span class="organiser">
                        <span class="newTitles">Organiser:</span>  @market.Organiser.Name
                    </span>
                   
               

     

        </li>
    }
</ul>
@section scripts
{
    <script>
        $(document).ready(function() {
            $(".js-toggle-attendance").click(function (e) {
                var button = $(e.target);
                $.post("/api/attendances", { marketId: button.attr("data-market-id") })
                    .done(function() {
                        button
                            .removeClass("btn-default")
                            .addClass("btn-info")
                            .text("Going");
                    })
                    .fail(function() {
                        alert("Something failed");

                    });
            });
        })
    </script>
}
